{{ define "main" }}
<div id="main-content">
    <div class="centrebutton">
        <button id="toggleButton">Toggle light mode</button>
    </div>
    <h1>{{ .Title }}</h1>
    {{ partial "metadata.html" . }}
    <br>
    {{- partial "toc.html" . }}
    <br>
    {{ .Content }}
    <div class="prev-next-post-links">
        <span class="next-post">
            {{ if .NextPage }}
            <a class="link-reverse" href="{{ .NextPage.Permalink }}?ref=footer">
                <- {{ .NextPage.Title | truncate 50 "..." }}</a> {{ end }} </span> <span class="previous-post">
                    {{ if .PrevPage }}
                    <a class="link-reverse"
                        href="{{ .PrevPage.Permalink }}?ref=footer">{{ .PrevPage.Title | truncate 50 "..."}} -></a>
                    {{ end }}
        </span>
    </div>
    <script src="https://giscus.app/client.js" data-repo="IntangibleMatter/intangiblematter.github.io"
        data-repo-id="MDEwOlJlcG9zaXRvcnkzNTQzNzc2Mzc=" data-category="Announcements"
        data-category-id="DIC_kwDOFR9fpc4CV2n9" data-mapping="pathname" data-strict="0" data-reactions-enabled="1"
        data-emit-metadata="0" data-input-position="top" data-theme="https://intangiblematter.net/css/giscus.min.css"
        data-lang="en" crossorigin="anonymous" async>
    </script>
    <script src="/js/togglelight.js"></script>
</div>

{{ end }}