@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

html {
    color: white;
    background-color: black;
    font-family: "Rubik", sans-serif;
    line-height: 1.6;
    min-height: 100%;
    margin: 0;
    min-height: 100vh;
}

.text-center {
    text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "JetBrains Mono", monospace;
    text-align: center;
    text-shadow: 0 0 10px black;
}

a {
    text-decoration: underline;
    color: white;
    &:visited {
        color: white;
    }
}

body {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 100vh;
    width: 100%;
    margin: 0;
    #content {
        flex-grow: 1;
        margin-left: auto;
        margin-right: auto;
        max-width: 800px;
        overflow: hidden;
        display: block;
        height: 100%;
        margin-bottom: auto;
        #main-content {
            background: black;
            padding: 1em;
            border-radius: 2em;

            text-align: justify;
            @media screen and (max-width: 800px) {
                margin-left: 2em;
                margin-right: 2em;
            }
            margin-left: auto;
            margin-right: auto;
            max-width: 800px;

            .centrebutton {
                margin-left: auto;
                margin-right: auto;
                width: 100%;
                display: flex;
                align-items: center;
                // text-align: center;
                #toggleButton {
                    margin: 0 auto;
                    border: 2px solid #fff;
                    border-radius: 1em;
                    background-color: #0c0c0c;
                    color: white;
                    padding: 0.5em;
                }
            }
            .spoilerwarning {
                line-height: 0.9;
                color: #797979;
                text-align: center;
                margin-left: auto;
                margin-right: auto;
                .spoiler-prefix {
                    font-size: small;
                    font-style: italic;
                }
                .spoiler-items {
                    font-size: large;
                    font-style: oblique;
                }
            }

            .rounded {
                border-radius: 1em;
            }
            .prev-next-post-links {
                color: #686868;
                width: 100%;
                position: static;
                left: 0;
                bottom: 0;
                display: grid;
                grid-template-columns: 1fr 1fr;
                .next-post {
                    color: #686868;
                    position: static;
                    margin-left: 1em;
                    text-align: left;
                    transition: margin-left 0.5s;
                    &:hover {
                        color: white;
                        margin-left: 0em;
                    }
                }
                .previous-post {
                    color: #686868;

                    position: static;
                    margin-right: 1em;
                    text-align: right;
                    transition: margin-right 0.5s;
                    &:hover {
                        color: white;
                        margin-right: 0em;
                    }
                }
            }
        }
    }
}

.highlight {
    @media screen and (max-width: 555px) {
        max-width: 80vw;
    }
    overflow-x: auto;
    overflow-y: hidden;
    pre {
        background-color: black;
        border: 2px solid black;
        border-radius: 1em;
        padding: 1em;
        overflow-x: auto;
        overflow-y: hidden;
        // max-width: 90vw;
    }
}

.header {
    display: block;
    text-align: center;
    a {
        text-decoration: none;
        color: white;
    }
    h1 {
        font-size: 3em;
        @media screen and (max-width: 500px) {
            font-size: x-large;
        }
    }

    .site-title {
        width: 100%;
    }
    .nav-menu {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        width: 100%;
    }
}

@mixin caption-template {
    @media screen and (max-width: 600px) {
        margin-top: -1em;
    }
    margin-top: 0em;
    color: gray;
    text-align: center;
    width: 100%;
}

figure {
    figcaption {
        @include caption-template();
    }
}

.caption {
    @include caption-template();
}

footer {
    align-self: flex-end;
    margin-top: auto;
    width: 100%;
    // position: absolute;
    bottom: 0;
    left: 0;
    color: #686868;

    .social-links {
        margin-top: 2em;
        margin-bottom: 2em;
        display: grid;
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        max-height: 4em;
        gap: 1rem;
        // edit this line whenever you add another item
        grid-template-columns: repeat(4, 1fr);
        .social-link {
            max-height: 4em;
            width: auto;
            img {
                max-height: 100%;
                width: auto;
                transform: rotateY(0deg);
                // animation: deselect 0.5s;
                transition: transform 1s;
            }
            &:hover {
                img {
                    // animation: highlight 0.5s;
                    transform: rotateY(360deg);
                }
            }
        }

        // @keyframes highlight {
        //     0% {
        //         transform: rotateY(360deg);
        //     }
        //     100% {
        //         transform: rotateY(0deg);
        //     }
        // }
        // @keyframes deselect {
        //     0% {
        //         transform: rotateY(0deg);
        //     }
        //     100% {
        //         transform: rotateY(360deg);
        //     }
        // }
    }
}

code {
    overflow-x: scroll;
    background-color: #303030;
    // border: 2px solid #797979;
    border-radius: 10px;
}

.metadata {
    text-align: center;
    // color: #3d3d3d;
    // display: inline-block;
    // .tags-container {
    // display: inline-flex;
    .tags-container {
        display: inline-flexbox;
    }
    .tags {
        border: 2px solid white;
        padding: 0px 6px 1px;
        border-radius: 15px;
        color: white;
        text-decoration: underline;
        margin-left: 2px;
        margin-right: 2px;
        margin-top: 8px;
        // }
    }

    .spoiler-warnings-container {
        display: block;
        color: lightgray;
        font-style: italic;
    }
}

.post-title {
    text-align: center;
    background-color: black;
    border-radius: 25px;
    border: 4px solid white;
    margin: 2em;
    padding: 2em;
    line-height: 1.7em;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 10px white;

    .summary {
        color: #aaaaaa;
        text-align: center;

        .quotemark {
            color: white;
        }
    }

    a {
        flex: 1;
        h3 {
            display: inline;
        }
        text-decoration: none;
        color: white;
        &:visited {
            color: white;
        }
    }
    &:hover {
        background-color: #0e0e0e;
    }
}

.list-title {
    font-size: larger;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
}

blockquote {
    text-align: left;
    font-family: "Roboto Mono", monospace;
    border-left: 4px solid #686868;
    padding-left: 1em;
}

.audio-container {
    display: block;

    margin-left: auto;
    margin-right: auto;

    .playme-alert {
        color: #686868;
        text-align: center;
        display: block;
        font-style: italic;
        font-size: small;
    }

    .audio-title {
        text-align: center;
        display: block;
        font-style: italic;
        font-size: large;
    }

    audio {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

.TableOfContents {
    display: block;
    // float:right;
    // background-color: black;
    border-radius: 2em;
    border: 2px solid white;
    padding: 1em;
}

.light_mode {
    color: #0e0e0e !important;
    background: #fffce8 !important;
    a {
        color: #0c0c0c;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        text-shadow: none;
    }
    #tags, #toggleButton {
        border: 2px solid black !important;
    }
}

.home-main {
    z-index: -1;
    overflow: hidden;
    // position: absolute;
    top: 0px;
    left: 0px;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 100%;
    width: 100%;
    .logo-container {
        margin-top: -2em;
        //     @media screen and (min-width: 900px) {
        //         margin-top: 20vh;
        //         max-height: 60%;
        //     }
        //     @media screen and (max-width: 900px) {
        //         margin-top: 2em;
        //     }
        //     @media screen and (max-width: 800px) and (min-height: 500px) {
        //         margin-top: 20vh;
        //     }
        max-width: 100%;
        align-items: center;
        justify-content: center;
        display: flex;
        .logo {
            z-index: -1;
            margin: auto;
            height: auto;
            width: auto;
            max-height: 80vh;
            max-width: 90vw;
            animation: float 10s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite;
        }
    }
    @keyframes float {
        $top: 1em;
        $bottom: 2em;
        0% {
            margin-top: $top;
            margin-bottom: $bottom;
        }
        50% {
            margin-top: calc($top + $bottom);
            margin-bottom: 0px;
        }
        100% {
            margin-top: $top;
            margin-bottom: $bottom;
        }
    }
}
.stars-container {
    z-index: -4;
    overflow-y: hidden;
    position: fixed;
    top: 0px;
    left: 0px;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 100%;
    width: 100%;
    .vingette {
        background: url("/img/fg.png") center center no-repeat;
        position: absolute;
        background-size: 100% 100%;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        opacity: 0.5;
        z-index: -2;
    }
    @mixin stars-child($time, $opacity, $z) {
        display: inline-block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0px;
        left: 0px;
        animation: slide $time linear infinite;
        opacity: $opacity;
        z-index: $z;
    }

    @keyframes slide {
        from {
            background-position: 0px;
        }
        to {
            // background-position: 4096px;
            background-position: 900px;
        }
    }

    .stars {
        &#s1 {
            @include stars-child(120s, 80%, -5);
            background: url("/img/stars/stars_sml.png") repeat center;
        }
        &#s2 {
            @include stars-child(80s, 90%, -4);
            background: url("/img/stars/stars_med.png") repeat center;
        }
        &#s3 {
            @include stars-child(45s, 100%, -3);
            background: url("/img/stars/stars_big.png") repeat center;
        }
        &#st1 {
            @include stars-child(10s, 100%, -10);
            background: url("/img/stars/1.png") repeat center;
        }
        &#st2 {
            @include stars-child(20s, 95%, -9);
            background: url("/img/stars/2.png") repeat center;
        }
        &#st3 {
            @include stars-child(30s, 90%, -8);
            background: url("/img/stars/3.png") repeat center;
        }
        &#st4 {
            @include stars-child(40s, 85, -7);
            background: url("/img/stars/4.png") repeat center;
        }
        &#st5 {
            @include stars-child(50s, 80%, -6);
            background: url("/img/stars/5.png") repeat center;
        }
        &#st6 {
            @include stars-child(60s, 75%, -5);
            background: url("/img/stars/6.png") repeat center;
        }
    }
}
